---
import PostExcerpt from '@igor.dvlpr/astro-post-excerpt';
import { getCollection } from 'astro:content';
import RootLayout from '../../layouts/RootLayout.astro';
import formatDate from '../../utils/formatDate';

const blogPosts = await getCollection('blog');
---

<RootLayout title="Blog" description="The personal blog of Gary Blackwood.">
  <ul
    class="prose prose-sm md:prose-base prose-slate max-w-full prose-headings:mb-2 prose-li:mb-8"
  >
    {
      blogPosts
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((post) => (
          <li>
            <a href={`/blog/${post.slug}`}>
              <h2>{post.data.title}</h2>
            </a>
            <div class="mb-4">
              <span class="font-light text-sm">
                {formatDate(post.data.date)}
              </span>
              <span class="mx-1">&#x2022;</span>
              {post.data.tags && (
                <ul class="not-prose p-0 m-0 inline">
                  {post.data.tags.map((tag) => (
                    <li class="list-none inline me-2 text-sm font-light">
                      #{tag}
                    </li>
                  ))}
                </ul>
              )}
            </div>

            <PostExcerpt post={post} words={30} addEllipsis={true} />
          </li>
        ))
    }
  </ul>
</RootLayout>
