---
import { Icon } from 'astro-icon/components';
import formatDate from '../utils/formatDate';
import RootLayout from './RootLayout.astro';

type Props = {
  title: string;
  description?: string;
  date: Date;
  linkUrl?: string;
  githubUrl?: string;
  tags: string[];
};

const { title, description, date, linkUrl, githubUrl, tags } = Astro.props;
---

<RootLayout title={title} description={description} `>
  <article
    class="prose prose-sm md:prose-base prose-slate max-w-full prose-headings:mb-2"
  >
    <h2>{title}</h2>

    <div class="mb-4">
      <span class="font-light text-sm">
        {formatDate(date)}
      </span>
      <span class="mx-1">&#x2022;</span>
      {
        tags && (
          <ul class="not-prose p-0 m-0 inline">
            {tags.map((tag) => (
              <li class="list-none inline me-2 text-sm font-light">#{tag}</li>
            ))}
          </ul>
        )
      }
    </div>

    <ul class="not-prose p-0 m-0">
      {
        linkUrl && (
          <li class="md:me-2 md:inline list-none p-0 text-nowrap overflow-hidden text-ellipsis">
            <Icon name="tabler:link" class="inline-block" />
            <a href={linkUrl} target="_blank" class="mb-4 font-light text-sm">
              {linkUrl}
            </a>
          </li>
        )
      }
      {
        githubUrl && (
          <li class="md:inline list-none p-0 text-nowrap overflow-hidden text-ellipsis">
            <Icon name="tabler:brand-github" class="inline-block" />
            <a href={githubUrl} target="_blank" class="mb-4 font-light text-sm">
              {githubUrl}
            </a>
          </li>
        )
      }
    </ul>

    <slot />
  </article>
</RootLayout>
