---
import { Icon } from 'astro-icon/components';
import BlogPostSubHeading from '../components/BlogPostSubHeading.astro';
import RootLayout from './RootLayout.astro';

type Props = {
  title: string;
  description?: string;
  date: Date;
  linkUrl?: string;
  githubUrl?: string;
  tags: string[];
};

const { title, description, date, linkUrl, githubUrl, tags } = Astro.props;
---

<RootLayout title={title} description={description}>
  <article
    class="blog-article prose prose-sm md:prose-base prose-slate max-w-full prose-headings:mb-2"
  >
    <h2>{title}</h2>

    <BlogPostSubHeading date={date} tags={tags} />

    <ul class="not-prose p-0 m-0">
      {
        linkUrl && (
          <li class="md:me-2 md:inline list-none p-0 text-nowrap overflow-hidden text-ellipsis">
            <Icon name="tabler:link" class="inline-block" />
            <a href={linkUrl} target="_blank" class="mb-4 font-light text-sm">
              {linkUrl}
            </a>
          </li>
        )
      }
      {
        githubUrl && (
          <li class="md:inline list-none p-0 text-nowrap overflow-hidden text-ellipsis">
            <Icon name="tabler:brand-github" class="inline-block" />
            <a href={githubUrl} target="_blank" class="mb-4 font-light text-sm">
              {githubUrl}
            </a>
          </li>
        )
      }
    </ul>

    <slot />
  </article>
</RootLayout>

<style is:global>
  .blog-article img {
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    margin: 0 auto;
  }
</style>
