---
import '@fontsource-variable/noto-sans';
import '@fontsource/permanent-marker';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import AvatarImage from '../images/avatar.jpg';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const isProd = import.meta.env.PROD;

const author = 'Gary Blackwood';
const siteTitle = `${title} • ${author}`;
const siteDescription = `${description ?? author} | Software Engineer based in Glasgow, Scotland.`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={siteDescription} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#111827" />

    <title>{siteTitle}</title>

    <!-- Search Engine Meta Tags -->
    <meta name="author" content={author} />
    <meta
      name="keywords"
      content="software engineer, Glasgow, Scotland, data analytics"
    />
    <meta name="robots" content="index, follow" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:url" content="https://garyblackwood.co.uk" />
    <meta property="og:image" content={AvatarImage.src} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="garyblackwood.bsky.social" />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:image" content={AvatarImage.src} />

    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={title}
      href={new URL('rss.xml', Astro.site)}
    />
  </head>
  <body class="bg-white text-gray-900 font-inter">
    <main class="m-4 mt-8 md:p-4 md:m-auto md:mt-8 max-w-[960px]">
      <Header />
      <slot />
      <Footer />
    </main>

    {
      isProd && (
        <script
          is:inline
          defer
          src="https://umami.mars.garyblackwood.co.uk/script.js"
          data-website-id="b4f44608-6159-41ed-9788-96e988698662"
        />
      )
    }
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Permanent Marker';
    }

    :root {
      --theme-color: #111827;
    }
  }
</style>
